.wrapper-post {
  width: 700px;
}

// share layout
.share {
  height: 170px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.18);
  margin: 30px 0;
}

.shareWrapper {
  padding: 20px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput {
  border: none;
  width: 80%;
  font-size: 16px;
  padding: 10px 10px;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
    margin: 20px;
    border-top: 1px dashed  rgb(196, 192, 192);
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  margin-left: 20px;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  padding-top: 5px;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 700;
}

.shareButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

//POSTS

.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.18);
  margin: 30px 0;
}

.postWrapper {
  padding: 20px 20px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 16px;
  font-weight: 700;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 4px;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 14px;
  font-weight: 700;
}

.postCommentText {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.return-home {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    width: 48px;
    height: 48px;
    border-radius: 52px;
    background: rgba(254, 44, 85, 1);
    font-size: 20px;

    & svg {
        fill: white;
    }
}